In [100]:
import pandas as pd
from datetime import datetime, timedelta
import os

In [101]:
current_year = (datetime.now() - timedelta(days=1) ).strftime('%Y')

In [102]:


all_dfs = []
months = {
    'Jan': '01', 'Fev': '02', 'Mar': '03', 'Abr': '04',
    'Mai': '05', 'Jun': '06', 'Jul': '07', 'Ago': '08',
    'Set': '09', 'Out': '10', 'Nov': '11', 'Dez': '12'
}




# Create a df with a web data and get all values from currenty month until january 2020
for i in range(0,100):
    page = f"https://www.vriconsulting.com.br/indices/cdi.php?pagina={i}"
    df = pd.read_html(page)[0].copy()
    all_dfs.append(df)
    if 'Jan/2000' in df['Mês/Ano'].values:
        break
cdi_df = pd.concat(all_dfs)
cdi_df.rename(columns={"Índice do mês (em %)": "CDI/Month"}, inplace=True)
cdi_df = cdi_df[["CDI/Month", "Mês/Ano"]]

# Avoid lost of data
cdi_df["CDI/Month"][0] = cdi_df["CDI/Month"][1]
cdi_df["CDI/Month"] =  cdi_df["CDI/Month"].astype('float')
cdi_df["Mês/Ano"] = cdi_df["Mês/Ano"].str.capitalize().str.strip()
cdi_df["Mês/Ano"] = cdi_df["Mês/Ano"].str[:3].map(months) + cdi_df["Mês/Ano"].str[3:]
cdi_df["Mês/Ano"] = pd.to_datetime(cdi_df['Mês/Ano'], format='%m/%Y', errors='coerce').dt.tz_localize('UTC').dt.tz_convert('America/Sao_Paulo')
cdi_df = cdi_df.set_index("Mês/Ano")

In [103]:
all_dfs = []

for year in range(2020,2040):
    if year == int(current_year) + 1:
        break
    df = pd.read_html(f"https://www.inflation.eu/pt/taxas-de-inflacao/brasil/inflacao-historica/ipc-inflacao-brasil-{year}.aspx")[10].copy()
    df = df[[0,1]]
    df = df.loc[1:]
    all_dfs.append(df)

inflation_df = pd.concat(all_dfs)
inflation_df.rename(columns={0: "Inflation/Month", 1 : "Inflation"}, inplace=True)

In [104]:

inflation_df = inflation_df[inflation_df['Inflation'].str.contains('%')]
inflation_df['Inflation'] = inflation_df['Inflation'].str.replace('%', " ").str.replace(',', '.').str.strip()
inflation_df['Inflation/Month'] = inflation_df['Inflation/Month'].str.capitalize().str.split('-').str[0]

In [105]:
inflation_df

    Inflation/Month Inflation
1     Janeiro 2020       0.21
2   Fevereiro 2020       0.25
3       Março 2020       0.07
4       Abril 2020      -0.31
5        Maio 2020      -0.38
6       Junho 2020       0.26
7       Julho 2020       0.36
8      Agosto 2020       0.24
9    Setembro 2020       0.64
10    Outubro 2020       0.86
11   Novembro 2020       0.89
12   Dezembro 2020       1.35
1     Janeiro 2021       0.25
2   Fevereiro 2021       0.86
3       Março 2021       0.93
4       Abril 2021       0.31
5        Maio 2021       0.83
6       Junho 2021       0.53
7       Julho 2021       0.96
8      Agosto 2021       0.87
9    Setembro 2021       1.16
10    Outubro 2021       1.25
11   Novembro 2021       0.95
12   Dezembro 2021       0.73
1     Janeiro 2022       0.54
2   Fevereiro 2022       1.01
3       Março 2022       1.62
4       Abril 2022       1.06
5        Maio 2022       0.47
6       Junho 2022       0.67
7       Julho 2022      -0.68
8      Agosto 2022      -0.36
9    Setembro 2022      -0.29
10    Outubro 2022       0.59
11   Novembro 2022       0.41
12   Dezembro 2022       0.62
1     Janeiro 2023       0.53
2   Fevereiro 2023       0.84
3       Março 2023       0.71
4       Abril 2023       0.61
5        Maio 2023       0.23
6       Junho 2023      -0.08
7       Julho 2023       0.12
8      Agosto 2023       0.23
9    Setembro 2023       0.26
10    Outubro 2023       0.24
11   Novembro 2023       0.28

In [106]:
inflation_df["Inflation/Month"] = inflation_df["Inflation/Month"].str[:3].map(months) + inflation_df["Inflation/Month"].str[-4:]

In [107]:
inflation_df

   Inflation/Month Inflation
1           01020       0.21
2           02020       0.25
3           03020       0.07
4           04020      -0.31
5           05020      -0.38
6           06020       0.26
7           07020       0.36
8           08020       0.24
9           09020       0.64
10          10020       0.86
11          11020       0.89
12          12020       1.35
1           01021       0.25
2           02021       0.86
3           03021       0.93
4           04021       0.31
5           05021       0.83
6           06021       0.53
7           07021       0.96
8           08021       0.87
9           09021       1.16
10          10021       1.25
11          11021       0.95
12          12021       0.73
1           01022       0.54
2           02022       1.01
3           03022       1.62
4           04022       1.06
5           05022       0.47
6           06022       0.67
7           07022      -0.68
8           08022      -0.36
9           09022      -0.29
10          10022       0.59
11          11022       0.41
12          12022       0.62
1           01023       0.53
2           02023       0.84
3           03023       0.71
4           04023       0.61
5           05023       0.23
6           06023      -0.08
7           07023       0.12
8           08023       0.23
9           09023       0.26
10          10023       0.24
11          11023       0.28

In [108]:

inflation_df.reset_index(inplace=True, drop=True)
inflation_df['Inflation'] = inflation_df['Inflation'].astype('float')
inflation_df

   Inflation/Month  Inflation
0           01020        0.21
1           02020        0.25
2           03020        0.07
3           04020       -0.31
4           05020       -0.38
5           06020        0.26
6           07020        0.36
7           08020        0.24
8           09020        0.64
9           10020        0.86
10          11020        0.89
11          12020        1.35
12          01021        0.25
13          02021        0.86
14          03021        0.93
15          04021        0.31
16          05021        0.83
17          06021        0.53
18          07021        0.96
19          08021        0.87
20          09021        1.16
21          10021        1.25
22          11021        0.95
23          12021        0.73
24          01022        0.54
25          02022        1.01
26          03022        1.62
27          04022        1.06
28          05022        0.47
29          06022        0.67
30          07022       -0.68
31          08022       -0.36
32          09022       -0.29
33          10022        0.59
34          11022        0.41
35          12022        0.62
36          01023        0.53
37          02023        0.84
38          03023        0.71
39          04023        0.61
40          05023        0.23
41          06023       -0.08
42          07023        0.12
43          08023        0.23
44          09023        0.26
45          10023        0.24
46          11023        0.28

In [109]:
# FILE_FOLDER = os.path.abspath('')
# inflation_df.to_csv(FILE_FOLDER + 'inflation_month', index=False)
# cdi_df.to_csv(FILE_FOLDER + 'cdi_month', index=False)